<form method="get" action="" class="mt-5">
    <div class="mb-3">
        <label for="search" class="form-label">Từ khoá</label>
        <input type="text" name="q" class="form-control" id="search">
        <div id="emailHelp" class="form-text">Nhập vào từ khoá cần tìm.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>